<%= form_with(model: task, local: true) do |form| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title%>
  <%= form.text_field :title, class: "form-control" %>

  <%= form.label :content %>
  <%= form.text_area :content, class: "form-control" %>

  <%= form.label :終了期限 %>
  <%= form.date_field :expired_at, class: "form-control" %>

  <div class="field_status">
  <%= form.label :ステータス %>
  <%= form.select :status, Task.statuses.keys.to_a, {}, class: "form-control"  %>
  </div>

  <div class="field_priority">
  <%= form.label :優先順位 %>
  <%= form.select :priority, Task.priorities.keys.to_a, {}, class: "form-control"  %>
  </div>
  <div class="field_label">
    <% Label.all.each do |label| %>
      <%= form.check_box :label_ids, { multiple: true, checked: @task.labels.find_by(id: label.id).present?, include_hidden: false }, label[:id] %>
      <label class='badge badge-secondary'><%= label.name %></label>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit '送信' %>
  </div>
<% end %>
